@import '../../../../palette.scss';

.btn-search{
    flex: 3;
    margin-left: 10px;
    height: 51px;
    //background: #8D8D96;
}
.mat-form-field-wrapper{
  border-bottom-color: white !important;
}
.example-form-field{

}
.btn-search--text{
    color: $secondary-text-color;
    margin-left:20px;
    border-right: $primary-color-dark solid 1px;
    padding-right: 10px;
    font-size: 14px;
}
.btn-search--inputarea{
    color: $secondary-text-color;
    display: flex;
    flex:2;
    align-items: stretch;

}
.btn-search--input{
    color: $secondary-text-color;
    display: flex;
    flex:1;
    border: none;
    font-size: 14px;
}
.btn-search--input:focus {
    outline-width: 0;
}
.btn-search--right{
    margin:10px;
    flex:1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}


::ng-deep .mat-form-field {
  .mat-input-element {
    color: slategray;
    margin-top: 1px;
  }
  .mat-form-field-label {
    color: slategray;
  }
  .mat-form-field-underline {
    background-color: white;
  }
  .mat-form-field-ripple {
    background-color: slategray;
  }
  .mat-form-field-required-marker {
    color: slategray;
  }
}
