<div class="btnLeftAlign btn-search white-gray">
    <div class="btn-search--right">
        <svg-icon src="../../../../../assets/images/search.svg"
            [svgStyle]="{ 'height.px':50,'fill':'rgb(250, 106, 0)','margin-left':'15px' }">
        </svg-icon>
        <div class="btn-search--text">Search</div>
    </div>

    <div class="btn-search--inputarea">
        <!--<input class="btn-search--input" type="text" (input)="onSearchChange($event.target.value)" >-->
      <mat-form-field class="example-form-field" appearance="legacy">
        <!--<mat-label>Clearable input</mat-label>-->
        <input  matInput type="text" (input)="onSearchChange($event.target.value)">
        <button  matSuffix mat-icon-button aria-label="">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
</div>
