<div class="btn btn_user pointer" (click)="onClick($event)">
    <svg-icon src="{{icon}}" [svgStyle]="{ 'height.px':50,'fill':'rgb(141, 141, 141)','margin-right':'10px' }">
    </svg-icon>


    <svg-icon *ngIf="validate_focus()" (click)="unfocus()" src="../../assets/images/cross.svg" [svgStyle]="{ 'height.px':25,'fill':'rgb(141, 141, 141)','margin-right':'10px','margin-top':'15px' }">
    </svg-icon>

    <span class="btn_user--username">
    {{(focusItem)?focusItem:title}}
  </span>
    <svg-icon class="btn_user--icon_row" src="../../assets/images/arrow.svg" [svgStyle]="{ 'height.px':50,'fill':'rgb(250, 106, 0)','margin-left':'10px' }"></svg-icon>
</div>
<div class="optionsArea" #Select>
    <ng-container *ngFor="let item of Options">
        <div class="optionSelect" (click)="SelectItem(item)">
            {{item.name}}
        </div>
    </ng-container>
</div>