<div class="btn btn_user pointer" (click)="onClick($event)">
  <mat-icon class="icon-display">user</mat-icon>

  --<mat-icon   (click)="unFocus()" svgIcon="cross"></mat-icon> --
    <span class="btn_user--username">
    {{(focusItem)?focusItem:title}}
  </span>
  <mat-icon class="btn_user--icon_row" >arrow</mat-icon>
</div>
<div class="optionsArea" #Select>
    <ng-container *ngFor="let item of Options">
        <div class="optionSelect" (click)="SelectItem(item)">
            {{item.name}}
        </div>
    </ng-container>
</div>
