<div class="adminTemplate">
    <div class="adminTemplate__container">
        <header class="adminTemplate__container--header">
            <div class="adminTemplate__container--header--left">
                <img src="../../../assets/images/logo.png" class="adminTemplate__container--header--left--logo">
                <div class="select-component" *ngIf="showTopMenu">
                    <app-select-custom (onSelect)="selectedValue($event)" [title]="title" [dIcon]="'user'" [Options]="OptionsUser"></app-select-custom>
                </div>
            </div>
        </header>
        <div class="adminTemplate__container--Row" >
          <div class="adminTemplate__container--Row--left" *ngIf="showSideMenu">
            <div *ngFor="let menu of menuOptions" class="adminTemplate__container--Row--left--menu" [ngClass]="routeActive== menu.class?'selected':''">
              <span routerLink="{{menu.path}}">{{menu.name}}</span>
            </div>
          </div>
          <div class="adminTemplate__container--Row--right">
              <div class="adminTemplate__container--Row--right--header" *ngIf="showTopMenu">
                  <ng-content select="[header]" ></ng-content>
              </div>
              <div class="adminTemplate__container--Row--right--container">
                  <ng-content select="[body]"></ng-content>
              </div>
          </div>
        </div>
    </div>
</div>
