@import '../../../../../palette.scss';

:host {
  display: flex;
  flex:1;
}

.header__container{
    display:flex;
    flex:1;
    flex-direction: row;
    align-items: stretch;
}

.btn_add{
    flex:1;
    margin-left:15px;
}
.btn_add--text{
    color: $primary-color;
}
.btn_preview{
    flex:1;
}
.btn_preview--text{
    color: $primary-color-dark;
    margin-left:15px
}

//table container
.container_list{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex:1
}
