<table *ngIf="(List | async).length > 0">
    <tr>
        <th *ngFor="let title of orderFieldsConfig">
            <ng-container *ngIf="showToFields[title]?.show == 1">
                <a class="title_table" (click)="orderElement(title)">{{showToFields[title]["alias"]}}</a>
            </ng-container>
        </th>
    </tr>
    <tr *ngFor="let item of List | async">
       <ng-container *ngFor="let val of orderFieldsConfig">
         <td *ngIf="item[val] | search: item:search" >
           <ng-container *ngIf="showToFields[val]?.show == 1">
             <ng-container *ngIf="(item[val]|isurl) == false">
                    <span class="field_table">
                        {{item[val]}}
                    </span>
             </ng-container>
             <span class="field_table" *ngIf="(item[val]|isurl)">
               <app-image-profile [height]="120" [width]="120" [url]="item[val]"></app-image-profile>
             </span>
           </ng-container>
           <ng-container *ngIf="showToFields[val]?.button == 1">
             <div class="btn btn_add pointer" [ngClass]="showToFields[val]?.color == 'default'?'orange':showToFields[val]?.color" >
               <span class="btn_add--text" (click)="openDialog(showToFields[val], item)" >{{showToFields[val]?.alias}}</span>
             </div>
           </ng-container>
         </td>
       </ng-container>
    </tr>
</table>
<div class="paginate" *ngIf="(List | async).length > 0">
    <div *ngIf="FocusPage > 1" class="paginate__before paginate__btns--before--after pointer" (click)="beforePage()">Anterior</div>
    <div class="paginate__number paginate__btns--numbers pointer" *ngFor="let page of Pages | async" [ngClass]="{'paginate__btns--numbers--active': FocusPage == page}" (click)="setPage(page)">
        <div> {{page}}</div>
    </div>
    <div *ngIf="FocusPage > 1" class="paginate__btns--before--after pointer" (click)="nextPage()">Siguiente</div>
</div>

<div class="emptyMsg" *ngIf="(List | async).length == 0">
  <span>No hay items que mostrar</span>
</div>
