<table>
    <tr >
        <th *ngFor="let title of showToFields | keys ">{{title}}</th>
    </tr>
    <tr *ngFor="let item of List | async">
        <td *ngFor="let val of item | keys | search: item:'Vega'"> 
            {{item[val]}}
        </td>
    </tr>
</table>
<div class="paginate">
    <div class="paginate__before paginate__btns--before--after pointer" (click)="beforePage()">Anterior</div>
    <div class="paginate__number paginate__btns--numbers pointer" 
        *ngFor="let page of Pages" 
        [ngClass]="{'paginate__btns--numbers--active': FocusPage == page}"
        (click)="setPage(page)"    
    >
        <div > {{page}}</div>
    </div>
    <div class="paginate__btns--before--after pointer" (click)="nextPage()">Siguiente</div>
</div>