<div class="form-group" *ngIf="forms != null">
  <div *ngFor="let f of forms;">
    <form novalidate (ngSubmit)="onSubmit(f.value)" [formGroup]="f.formGroup">
      <h2>Form ID: {{f.id}}</h2>
      <div class="forms-content"  *ngFor="let prop of f.metaData">
        <div class="error" *ngIf="(f.formGroup.get(prop.key).dirty || f.formGroup.get(prop.key).touched) && f.formGroup.get(prop.key).invalid">
          <p>
            {{showError(f.formGroup.get(prop.key).errors)}}
          </p>
        </div>
        <ng-container  [ngSwitch]="prop.type">
          <mat-form-field class="fieldsInput--left" appearance="outline" *ngSwitchCase="'text'" >
            <mat-label>{{prop.label}}</mat-label>
            <input matInput [formControlName]="prop.key" [id]="prop.key" [type]="prop.type">
          </mat-form-field>

          <mat-form-field class="fieldsInput--right" appearance="outline" *ngSwitchCase="'number'">
            <mat-label>{{prop.label}}</mat-label>
            <input matInput [id]="prop.key" [value]="prop.value" [formControlName]="prop.key">
          </mat-form-field>

          <mat-form-field appearance="outline" *ngSwitchCase="'email'">
            <mat-label>{{prop.label}}</mat-label>
            <input matInput type="email" [id]="prop.key" [value]="prop.value" [formControlName]="prop.key">
          </mat-form-field>

          <mat-checkbox *ngSwitchCase="'checkbox'" type="checkbox" [id]="prop.key" [value]="prop.value" [formControlName]="prop.key">{{prop.label}}</mat-checkbox>
          <input *ngSwitchCase="'file'" type="file" [id]="prop.key" [formControlName]="prop.key">

          <app-date *ngSwitchCase="'date'" [prop]="prop" [formGroup]="f.formGroup"></app-date>

          <mat-form-field *ngSwitchCase="'datetime'" appearance="outline">
            <input matInput placeholder="{{prop.label}}"  [min]="minDate" [max]="maxDate"  [ngxMatDatetimePicker]="picker" [id]="prop.key" [value]="prop.value"   [formControlName]="prop.key">
            <mat-datepicker-toggle matSuffix [for]="picker">
            </mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker
                                     [showSpinners]="true"
                                     [showSeconds]="true"
                                     [stepHour]="1" [stepMinute]="1"
                                     [stepSecond]="1"
                                     [touchUi]="true"
                                     [enableMeridian]="true"
                                     [color]="'primary'">
            </ngx-mat-datetime-picker>
          </mat-form-field>

          <input matInput appearance="outline" *ngSwitchCase="'reset'" type="reset" [id]="prop.key" [value]="prop.value" [formControlName]="prop.key">
          <input matInput appearance="outline" *ngSwitchCase="'tel'" type="tel" [id]="prop.key" [value]="prop.value" [formControlName]="prop.key">
          <input matInput appearance="outline" *ngSwitchCase="'url'" type="url" [id]="prop.key" [value]="prop.value" [formControlName]="prop.key">

          <mat-form-field appearance="outline" *ngSwitchCase="'select'">
            <mat-label>{{prop.label}}</mat-label>
            <mat-select [formControlName]="prop.key" >
              <mat-option  *ngFor="let option of prop.options" [value]="option.value">
                {{option.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <ng-container  *ngSwitchCase="'radio'">
            <mat-radio-group >
              <span *ngFor="let option of prop.options;let i = index">
                <mat-radio-button appearance="outline"  name="{{prop.key}}" ngDefaultControl [name]="prop.key" [formControlName]="prop.key" [value]="option.value" [ngClass]="i % 2 == 0?'':'radio'">{{option.label}}</mat-radio-button>
              </span>
            </mat-radio-group>
          </ng-container>
        </ng-container>
      </div>
      <div *ngIf="debug">
        <h2>Form Meta Data</h2>
        <pre>{{f.metaData | json}}</pre>
        <h2>Form Transactional Data</h2>
        <pre>{{ f.formGroup.value | json }}</pre>
      </div>
      <br>
    </form>
    <hr>
  </div>
</div>
