<admin-theme>
  <div class="header__container" header>
    <app-header [config]="ID"></app-header>
  </div>
  <div body class="container_list">
    <app-table  [showToFields]="titles" [orderFieldsConfig]="order" [items$]="jobs$" [formConfig]="form" (formResult)="getFormResult($event)" [config]="ID" #tableJobs></app-table>

    <app-image-profile></app-image-profile>
    <app-base-image></app-base-image>

    <div class="float-button-container" >
      <button mat-fab color="primary" aria-label="guardar" (click)="guardar()">
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </div>
</admin-theme>
