//color palet.
$primary-color-dark :  #FA6A00;
$primary-color-light: #E9E9E9;
$primary-color:        #FFFFFF;

$primary-color-text:   #B9B9B9;
$accent-color:         #FFC107;
$primary-text-color:   #1F273B;
$secondary-text-color: #8D8D8D;
$divider-color:        #F1F1F1;
$blue-components:      #00416A;

//scalegray
$gray-1:#F9F9F9;
$gray-2:#DFDFDF;